{% extends "main.html" %} {% block content %}

<div class="ui items">
    <div class="item">
        <div class="content">
            <h1 class=" ui header">{{item.name}}</h1>
            <div class="meta">
                <span>Created by: {{creator.name}}</span>
            </div>
            <div class="description">
                {{item.description}}
            </div>
            {% if item.user.name == login_session['username'] %}
            <!--<div class="ui two buttons">-->
            <a href="{{url_for('editItem', category_id=category.id, item_id=item.id )}}">
                <div class="ui basic yellow button">
                    Edit Item
                </div>
            </a>
            <a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id )}}">
                <div class="ui basic red button">
                    Delete Item
                </div>
            </a>
            <!--</div>-->
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}